@model aspShop.ViewModels.ProductList
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["category"] == null ? "list-group-item active" :  "list-group-item"})
            @foreach (var item in Model.Categories)
            {
                @Html.ActionLink(item.Name, "Index", new { category = item.Name }, new { @class = Request["category"] == item.Name ? "list-group-item active" :  "list-group-item"})
            }
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-responsive" src="~/Content/ProductImages/@item.Image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

